<ion-content [fullscreen]="true">
  <ion-content >

    
  <nav style="box-shadow:  #d12b39fa 0px 5px 0px; width: 100%; background-color: #0b206e;">
    <img src="../../assets/images/Instrucciones.png" alt="">
    <ion-button color="light"[routerLink]="['/update']" style=" margin-left: 50px;"> volver </ion-button>
  </nav>
  <nav >
    <ion-card style="box-shadow: #0b206e 0px 3px 8px; display: block;position: relative ; background-color: #fffffff3;  "  >
      <ion-card-content style="color: black;">
        <form (ngSubmit)="modificar()">
          <div style="margin-top: 10%;">
            <ion-input [(ngModel)]="name"name="nombre" style="box-shadow: #0b206e 0px 3px 0px; border-radius: 10px; color:  #0b206e; "></ion-input>
          </div>
          <div style="margin-top: 10%;">
            <ion-input [(ngModel)]="ingr"name="ingredientes" style="box-shadow: #0b206e 0px 3px 0px; border-radius: 10px; color:  #0b206e; "></ion-input>
          </div>
          <div style="margin-top: 10%;">
            <ion-input [(ngModel)]="prep"name="prepa" style="box-shadow: #0b206e 0px 3px 0px; border-radius: 10px; color:  #0b206e; "></ion-input>
          </div>
            <ion-button type="submit" style="--background:#d12b39fa ; display: block; padding: 20px; color: black;"> modificar </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </nav>
</ion-content>