<ion-content [fullscreen]="true">
  <ion-content class="background">
<nav class="ltop">
    <ion-button color="light"[routerLink]="['/update']"> volver </ion-button>
  </nav>
  <nav class="ttop">
    <img src="../../assets/images/Instrucciones.png" alt="">
  </nav>
  <nav id="container">
    <form (ngSubmit)="modificar()">
    <ion-input [(ngModel)]="name"name="nombre" style="background-color: rgba(255, 255, 255, 0.482);color: white; border-radius: 20px;  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; height: 62px;"></ion-input>
    <ion-input [(ngModel)]="ingr"name="ingredientes" style="background-color: rgba(255, 255, 255, 0.482);color: white; border-radius: 20px;  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; height: 62px;"></ion-input>
    <ion-input [(ngModel)]="prep"name="prepa" style="background-color: rgba(255, 255, 255, 0.482);color: white; border-radius: 20px;  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; height: 62px;"></ion-input>
    <ion-button type="submit"> modificar </ion-button>
  </form>
  </nav>
</ion-content>