<ion-content [fullscreen]="true">
  <ion-content class="background">
<nav class="ltop">
    <ion-button color="light"[routerLink]="['/read']"> volver </ion-button>
  </nav>
  <nav class="ttop">
    <img src="../../assets/images/Instrucciones.png" alt="">
  </nav>
  <nav id="container">

    <b>Ingredientes: </b>

      <p>500 gramos de carne de res (puede ser osobuco, costilla o carne de cadera), cortada en trozos.
      2 papas, peladas y cortadas en trozos grandes.
      1 zanahoria, pelada y cortada en rodajas gruesas.
      1 cebolla, pelada y picada en trozos grandes.
      1 pimiento rojo, cortado en tiras (opcional).
      1 choclo (maíz) desgranado o en rodajas gruesas.
      1/2 zapallo (calabaza) pelado y cortado en trozos.
      1 ramita de apio (opcional).
      1 hoja de laurel.
      1/2 cucharadita de comino molido.
      1/2 cucharadita de orégano seco.
      Sal y pimienta al gusto.
      Agua.
      Aceite vegetal.
      Perejil fresco picado para decorar (opcional).</p>
      <b>Instrucciones:</b>

      <p>-Dorar la carne:</p>

      <p>  En una olla grande, calienta un poco de aceite a fuego medio-alto.
      Agrega los trozos de carne y dóralos por todos los lados hasta que estén dorados.</p>
      <p>-Añadir las verduras:</p>

      <p>Agrega la cebolla, el pimiento (si lo estás usando), la zanahoria, el choclo, el zapallo y la hoja de laurel a la olla con la carne.
      Sofríe las verduras durante unos minutos junto con la carne.</p>

      <p>-Condimentar:</p>

      <p> Agrega el comino, el orégano, sal y pimienta al gusto. Mezcla bien.</p>

      <p>-Cubrir con agua:</p>

      <p> Cubre todos los ingredientes con agua. Deja que el agua hierva. </p>

      <p> -Cocinar a fuego lento: </p>

      <p> Reduce el fuego a bajo, tapa la olla y cocina a fuego lento durante aproximadamente 1 hora y media o hasta que la carne y las verduras estén tiernas. Revuelve ocasionalmente y agrega agua si es necesario para mantener un caldo abundante. </p>
      <p>  -Añadir las papas: </p>

      <p>  Después de que la carne y las verduras se hayan cocido durante aproximadamente 45 minutos, agrega las papas a la olla. Cocina durante otros 30-45 minutos o hasta que las papas estén cocidas y tiernas. </p>
      <b> Servir: </b>

      <p> Retira la hoja de laurel y cualquier ramita de apio si la usaste.
      Sirve la cazuela de vacuno caliente, espolvoreada con perejil fresco picado si lo deseas.</p>

  </nav>
</ion-content>
