<ion-content [fullscreen]="true" >
  <ion-content class="background">
    <div id="top">
    <nav>
<img src="../../assets/images/Login.png" alt="">
</nav>
</div>

  <div id="container">
<nav style="padding:20px">
        <ion-input label="user" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        <ion-input label="password" type="password"label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        <ion-button [routerLink]="['/lobby']" color="light"> login </ion-button>
      </nav>
  </div>
</ion-content>
