
nav{
    background-color: rgba(0, 0, 0, 0.662);
    border-radius: 15px;
    border: rgb(0, 0, 0) 3px solid;
    margin: 10px;
  }
  
  
  h1{
    font-size: 46px;
    font-style: oblique;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  
  ion-tab-button{
    padding: 5px;
  }
  ion-input{
    margin-bottom: 10px;
  }
  img{
    display: block;
  }
  form{
    background-color: #8c8c8c00;
  }
  