

<div *ngIf="(logged$ | async) === false">
  <ion-button   [routerLink]="['/login']" style="--background: #d12b39fa; --border-radius: 10px; display: block;  margin: 15px; color: white; height: 50px;" > Iniciar Sesión</ion-button>
  <ion-button   [routerLink]="['/register']" style="--background: #d12b39fa; --border-radius: 10px; display: block;  margin: 15px; color: white; height: 50px;"> Registrarse</ion-button>
</div>
<div *ngIf="(logged$ | async) === true">
  <div style="box-shadow:  #0b206e 0px 5px 0px; width: 260px; "> <p>Opciones de Administrador</p></div>
  <ion-button  [routerLink]="['/create']" style="--background: #d12b39fa; --border-radius: 10px; display: block;  margin: 15px; color: white; height: 50px;"> Crear</ion-button>
  <ion-button   [routerLink]="['/delete']" style="--background: #d12b39fa; --border-radius: 10px; display: block;  margin: 15px; color:white; height: 50px;"> Eliminar</ion-button>
  <ion-button  [routerLink]="['/update']" style="--background: #d12b39fa; --border-radius: 10px; display: block;  margin: 15px; color: white ;height: 50px;"> modificar</ion-button>
  <div style="box-shadow:  #0b206e 0px 5px 0px; width: 260px; "><p>Opciones de Usuario</p>  </div>
  <ion-button  (click)="cerrarSesion()" style="--background: #d12b39fa; --border-radius: 10px; display: block;  margin: 15px; color: white;height: 50px;"> Cerrar sesion</ion-button>
</div>

 
